<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BuscaEvento</servlet-name>
        <servlet-class>servlet.BuscaEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaEvento</servlet-name>
        <servlet-class>servlet.EditaEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriaEvento</servlet-name>
        <servlet-class>servlet.CriaEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEvento</servlet-name>
        <servlet-class>servlet.RemoveEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaEvento</servlet-name>
        <servlet-class>servlet.ListaEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriaEdicao</servlet-name>
        <servlet-class>servlet.CriaEdicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEdicao</servlet-name>
        <servlet-class>servlet.RemoveEdicao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuscaEvento</servlet-name>
        <url-pattern>/buscaEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaEvento</servlet-name>
        <url-pattern>/editaEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriaEvento</servlet-name>
        <url-pattern>/criaEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEvento</servlet-name>
        <url-pattern>/removeEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaEvento</servlet-name>
        <url-pattern>/listaEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriaEdicao</servlet-name>
        <url-pattern>/criaEdicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEdicao</servlet-name>
        <url-pattern>/removeEdicao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
